body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}

h2 {
    text-align: center;
}

select {
    padding: 5px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: rgb(233, 210, 136);
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: beige;

}
